$black: #162612
$green: #87B550

.container
	// position: relative
	background: white
	padding: 25px 0
	// z-index: 999999

.links
	display: flex
	padding: 0
	margin: 0
	font-size: 14px
	justify-content: flex-end
	a
		color: rgba($black, 0.5)
		margin-right: 20px
		text-decoration: none
		&:last-child
			margin-right: 0px
		&:hover
			color: $green
		&.active
			color: $green

@media (max-width: 1200px)
	.container
		padding: 15px 0

.mobile_btn
	background: 0
	border: 0
	padding: 10px
	line-height: 0
	cursor: pointer
	border-radius: 5px
	outline: none
	> *
		width: 28px
	svg path
		fill: #87B550
	&:hover
		background: rgba(135, 181, 80, 0.05)

.mobile
	margin-top: 20px
	background: white
	box-shadow: 0px 3px 5px rgba(57, 100, 47, 0.03)
	border-radius: 0 10px 0 10px
	overflow: hidden
	padding: 10px
	a
		display: flex
		padding: 15px 20px
		border-radius: 0 10px 0 10px
		&:hover, .active
			background: rgba(135, 181, 80, 0.05)

.hr
	border: 0
	height: 1px
	background: rgba($black, 0.1)

.selected
	position: relative
	color: $green !important
	&::after
		content: ''
		position: absolute
		left: -7px
		right: -7px
		top: -5px
		bottom: -5px
		background: rgba($green, 0.15)
		border-radius: 3px
	&:hover
		color: white !important
		z-index: 1
		&::after
			background: $green
			z-index: -1

.mobile
	.active
		background: rgba(135, 181, 80, 0.05)