.title
	font-family: Ubuntu
	font-style: normal
	font-weight: 500
	font-size: 36px
	line-height: 100%
	margin: 0

.desc
	font-family: Ubuntu
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 100%
	color: #162612
	opacity: 0.5
	margin-top: 25px
	margin-bottom: 0

.count
	background: rgba(135, 181, 80, 0.15)
	border-radius: 0px 5px
	font-weight: 500
	font-size: 20px
	line-height: 100%
	color: #87B550
	padding: 8px 13px
	margin-left: 18px
    
@media (max-width: 992px)
	.title
		font-size: 32px